# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build outputs.
build/

# Omit committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
#pubspec.lock

# Test coverage directory
coverage/
.coverage/

.local-chromium/

# SQLite database file
*.sqlite3
*.sqlite

# macOS related files
.DS_Store

# Dart Web Output
*.dart.js
*.dart.js.deps
*.dart.js.map