/*
@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
*/

#articles {
  max-width: 720px;
}

.no-select {
  -webkit-touch-callout: none;
  /* Safari на iOS */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Нестандартный синтаксис, поддерживаемый как в Chrome, так и в Opera */
}

.article-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  line-height: 1em;
  height: 1em; /* line-height * line-clamp  */
  text-overflow: ellipsis;
}

.article-meta {
  display: flex;
  gap: 0.75em;
  color: var(--secondary-text-color);
  font-size: 10px !important;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  line-height: 1em;
  height: 1em;
  /* line-height * line-clamp  */
}

.article-meta-tags .article-tag {
  color: #ec407a;
}

.article-tag:not(:last-child)::after {
  content: ", ";
}

.article-excerpt {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  line-height: 1.5em;;
  height: 4.5em; /* line-height * line-clamp  */
  text-overflow: ellipsis;
}

.ripple-effect {
  position: relative;
  overflow: hidden;
  /* Остальные стили для кнопки */
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 0, 0, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/*
@media only screen and (min-width: 601px) {
  .article-excerpt {
    line-clamp: 4;
    -webkit-line-clamp: 4;
    height: 6em;
  }
}
*/